.form{
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ddd;
    margin-top: 20px;
    padding: 20px;
}

.form input:focus{
    outline: none;
}
.form h3{
    margin: 5px 0 20px 5px;
    font-size: 20px;
}
.form input{
    border: 2px solid #ddd;
    width: 100%;
    padding: 8px;
    margin: 5px;
}
.btn{
    margin-top: 20px;
    color: #fff;
    padding: 5px 10px;
    margin-left: 5px;
}