body{
  margin: 0;
  position: relative;
  height: 100vh;
}
*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
table,th,td{
  border: 1px solid #ddd;
}
th,td{
  padding: 10px;
}
